node_modules/
.next/
.next/*
.env
.env.local
.env.*.local
*.log
.DS_Store
dist/
build/

# Prisma
prisma/migrations/*.sql

# Docker
docker-compose.override.yml
postgres-data/
southside-485001-e3c7c1f69f92.json

# Uploaded files
public/uploads/
